@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .bg-ocean-gradient {
    @apply bg-gradient-to-r from-calm-seas to-deep-ocean;
  }
}
